.PersonItem {
  border-bottom: 1px solid #ccc;
  padding: 24px;
}

.PersonItem__name,
.PersonItem__phone {
  margin: 0px;
  margin-bottom: 8px;
}

.PersonItem__name {
  font-weight: bold;
}

.PersonItem__phone {
  color: #999;
}

.PersonItem__button {
  padding: 4px 8px;
  border: 0px;
  border-radius: 2px;
  box-sizing: border-box;
  margin-bottom: 4px;
  background-color: #d32b1f;
  color: white;
  cursor: pointer;
  margin-top: 8px;
  font-size: 12px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
